---
import '~/assets/styles/tailwind.css';

import { I18N } from 'astrowind:config';

import CommonMeta from '~/components/common/CommonMeta.astro';
import Favicons from '~/components/Favicons.astro';
import CustomStyles from '~/components/CustomStyles.astro';
import ApplyColorMode from '~/components/common/ApplyColorMode.astro';
import Metadata from '~/components/common/Metadata.astro';
import SiteVerification from '~/components/common/SiteVerification.astro';
import Analytics from '~/components/common/Analytics.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';


// Comment the line below to disable View Transitions
import { ViewTransitions } from 'astro:transitions';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;


---

<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />
    <Analytics />

    <!-- Comment the line below to disable View Transitions -->
    <ViewTransitions fallback="swap" />
    

    <!--<script src="https://www.paypal.com/sdk/js?client-id=AW8w-HMsHWRuOsB5I3uJSnc2ttC3b_W9yn5XHbOzXaa8_GnoEa0CP31yS0C-eU7g-7Es0l8Bp_OanXwZ"></script>--> <!--sandbox-->
    <!--<script src="https://www.paypal.com/sdk/js?client-id=AZ34Ql31hxHWuvwOMq6QjJeRXSbe6yoOTwYF82acV6CcZPzj76-C-5MPMZNEwZZ-Yt-id1WlzASDIBnW&currency=USD&intent=capture&disable-funding=card&components=buttons"></script>--> <!--live -->
    <style>
      /* 仅对 Paypal 按钮的容器进行样式设置 */
      .paypal-container {
        display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center; /* 垂直居中 */
        width: 100%; /* 宽度占满父容器 */
        height: 300px; /* 设定一个合理高度，避免撑满整个页面 */
        margin: 0 auto; /* 居中对齐，避免干扰其他元素 */
      }

      #paypal-button-container {
        width: auto;
      }
    </style>

  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />

    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>

  </body>
</html>
